@tailwind base;
@tailwind components;
@tailwind utilities;

/*
·    Primary background color: #212529 (a dark gray-blue)
·    Secondary background color: #333333 (a dark gray)
·    Accent color: #4CAF50 (a bright green-blue)
·    Text color: #FFFFFF (white) or #AAAAAA (light gray)
·    Hover effect: #3A3D41 (a dark gray-blue) 
 */

* {
  box-sizing: border-box;
}

body {
  @apply bg-[#212529] text-[#AAAAAA]
}


dialog {
  max-width: 100vw;
  max-height: 100vh;
}

table {
  @apply min-w-full px-4 sm:px-6 py-4 text-lg
}
th {
  @apply px-2 sm:px-4 py-2 font-medium text-gray-300 uppercase tracking-wider text-center whitespace-nowrap
}

td {
  @apply px-2 sm:px-4 py-2 text-gray-200
}

select {
  @apply text-black
}

input {
  @apply text-black
}

.btn {
  @apply bg-[#b0ff34] hover:bg-[#8ccc26] text-[#333333] font-medium py-2 px-4 rounded-md w-full hover:underline hover:underline-offset-2
}