@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  @apply bg-[#212529] text-white;
}

dialog {
  max-width: 100vw;
  max-height: 100vh;
}

table {
  @apply min-w-full px-4 sm:px-6 py-4 border-collapse;
}

thead tr {
  @apply border-b-2 border-[#444444];
}

th {
  @apply px-2 sm:px-4 pb-4 font-medium uppercase tracking-wider text-center whitespace-nowrap;
}

td {
  @apply px-2 sm:px-4 py-2  border-t border-[#444444];
}

select {
  @apply text-black;
}

input {
  @apply text-black;
}

.btn {
  @apply bg-[#b0ff34] hover:bg-[#8ccc26] text-[#333333] font-medium py-2 px-4 rounded-md w-full hover:underline hover:underline-offset-2;
}

.btn-bo6 {
  @apply bg-sidebar-active-bo6 hover:bg-sidebar-active-bo6/80 text-[#333333] font-medium py-2 px-4 rounded-md w-full hover:underline hover:underline-offset-2;
}

.load-more-btn {
  @apply bg-[#b0ff34] hover:bg-[#8ccc26] text-[#333333] font-medium py-2 px-4 rounded-md hover:underline hover:underline-offset-2
}

.load-more-btn-bo6 {
  @apply bg-bo6-theme hover:bg-bo6-theme/80 text-[#333333] font-medium py-2 px-4 rounded-md hover:underline hover:underline-offset-2
}

.top-ten-item:last-child {
  @apply border-b-0;
}

.loader {
  width: 64px;
  height: 64px;
  border: 5px solid #fff;
  border-bottom-color: #b0ff34;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-bo6 {
  width: 64px;
  height: 64px;
  border: 5px solid #fff;
  border-bottom-color: #ff9900;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.small-loader {
  width: 38px;
  height: 38px;
  border: 5px solid #fff;
  border-bottom-color: #b0ff34;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.small-loader-bo6 {
  width: 38px;
  height: 38px;
  border: 5px solid #fff;
  border-bottom-color: #ff9900;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
